main {
    margin-top: 60px;
}

h1 {
    margin: 0 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
}

main h2 {
    margin: 18px 0 12px 0;
    border-bottom: 1px solid #5c4f41;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3 {
    margin: 18px 0 12px 0;
    border-bottom: 1px solid #5c4f41;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main, p, ul {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}


img {
    width: 100%;   
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}

section.bg-callout {   
    background-color: lightgray;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

    section, h1 {
        padding: 0 10%;
    }

    .group {
        flex-direction: row;
    }

}

/* Contact Form Design */

form {
    padding-right: 10px;
    /* Fixed small sizing issue on the right */
}

form label {
    display: block;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form textarea {
    height: 100px;
}